.container-modal {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.container-modal.active {
    display: flex;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--text-color);
    max-width: 700px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 30px;
    margin: 0 20px;
}

.modal .fechar-modal {
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal .fechar-modal i {
    color: var(--icons-color);
    font-size: 2rem;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

.modal .fechar-modal i:hover{
    transform: scale(1.3);
}

.modal-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}

.modal-child h1,h2,p {
    font-family: sans-serif;
}

.modal-child h1 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
}

.modal-child h2 {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 1rem;
}

.modal-child p {
    font-size: 0.7rem;
}

.modal-child .imagem {
    max-width: 700px;
    width: 100%;
}

.modal-child .imagem img {
    width: 100%;
}

.linha {
    margin: 10px 0;
    border-bottom: 1px solid rgba(116, 116, 116, 0.589);
    width: 100%;
}

.modal-child .icones-modal {
    margin-bottom: 20px;
}

.modal-child .icones-modal a {
    display: inline-block;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50%;
    line-height: 10px;
    margin: 0 2px;
}

.modal-child .icones-modal a {
    transition: 0.3s;
}

.modal-child .icones-modal a:hover {
    transform: scale(1.3);
}

.modal-child .icones-modal a:nth-child(1) {
    background-color: #395693;
    color: var(--text-color);
}

.modal-child .icones-modal a:nth-child(2) {
    background-color: #3FC250;
    color: var(--text-color);
}

.modal-child .icones-modal a:nth-child(3) {
    background-color: #1DA1F2;
    color: var(--text-color);
}

.modal-child .icones-modal a:nth-child(4) {
    background-color: #026FAB;
    color: var(--text-color);
}